.meaAccessibility_widget {
    z-index: 9999 !important;
}

.meaAccessibility_widget.meaAccessibility_iconSizeXS {
    width: 45px;
    max-height: 45px;
}

.meaAccessibility_widget.meaAccessibility_iconSizeXS .meaAccessibility_widgetHeader {
    padding: 5px 0;
    margin: 0 5px;
}

.meaAccessibility_widget.meaAccessibility_iconSizeXS .meaAccessibility_propertiesToggle {
    width: 35px;
    height: 35px;
}

.meaAccessibility_widget.meaAccessibility_iconSizeXS .meaAccessibility_propertiesToggle::before {
    width: 35px;
    height: 35px;
    flex: 0 0 35px;
    background-size: 25px 25px !important;
}

.meaAccessibility_widget.meaAccessibility_iconSizeS {
    width: 60px;
    max-height: 60px;
}

.meaAccessibility_widget.meaAccessibility_iconSizeS .meaAccessibility_widgetHeader {
    padding: 7px 0;
    margin: 0 7px;
}

.meaAccessibility_widget.meaAccessibility_iconSizeS .meaAccessibility_propertiesToggle {
    width: 45px;
    height: 45px;
}

.meaAccessibility_widget.meaAccessibility_iconSizeS .meaAccessibility_propertiesToggle::before {
    width: 45px;
    height: 45px;
    flex: 0 0 45px;
    background-size: 30px 30px !important;
}

.meaAccessibility_widget.meaAccessibility_iconSizeM {
    width: 76px;
    max-height: 76px;
}

.meaAccessibility_widget.meaAccessibility_iconSizeM .meaAccessibility_propertiesToggle {
    width: 50px;
    height: 50px;
}

.meaAccessibility_widget.meaAccessibility_iconSizeM .meaAccessibility_propertiesToggle::before {
    width: 50px;
    height: 50px;
    flex: 0 0 50px;
    background-size: 40px 40px !important;
}

.meaAccessibility_widget.meaAccessibility_iconSizeL {
    width: 86px;
    max-height: 86px;
}

.meaAccessibility_widget.meaAccessibility_iconSizeL .meaAccessibility_propertiesToggle {
    width: 60px;
    height: 60px;
}

.meaAccessibility_widget.meaAccessibility_iconSizeL .meaAccessibility_propertiesToggle::before {
    width: 60px;
    height: 60px;
    flex: 0 0 60px;
    background-size: 50px 50px !important;
}

.meaAccessibility_widget.meaAccessibility_iconSizeXL {
    width: 96px;
    max-height: 96px;
}

.meaAccessibility_widget.meaAccessibility_iconSizeXL .meaAccessibility_propertiesToggle {
    width: 70px;
    height: 70px;
}

.meaAccessibility_widget.meaAccessibility_iconSizeXL .meaAccessibility_propertiesToggle::before {
    width: 70px;
    height: 70px;
    flex: 0 0 70px;
    background-size: 60px 60px !important;
}

.meaAccessibility_widget.meaAccessibility_widgetTopLeft,
.meaAccessibility_widget.meaAccessibility_widgetTopRight {
    top: 25px;
    bottom: auto;
}

.meaAccessibility_widget.meaAccessibility_widgetTopLeft {
    left: 25px;
}

.meaAccessibility_widget.meaAccessibility_widgetTopRight {
    right: 25px;
}

.meaAccessibility_widget.meaAccessibility_widgetBottomRight,
.meaAccessibility_widget.meaAccessibility_widgetBottomLeft {
    bottom: 25px;
}

.meaAccessibility_widget.meaAccessibility_widgetBottomRight .meaAccessibility_properties,
.meaAccessibility_widget.meaAccessibility_widgetBottomLeft .meaAccessibility_properties {
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.meaAccessibility_widget.meaAccessibility_widgetBottomRight {
    right: 25px;
}

.meaAccessibility_widget.meaAccessibility_widgetBottomLeft {
    left: 25px;
}

.meaAccessibility_widget.meaAccessibility_widgetTopLeft .meaAccessibility_fieldTooltip,
.meaAccessibility_widget.meaAccessibility_widgetBottomLeft .meaAccessibility_fieldTooltip {
    right: auto;
    left: 50%;
    padding: 0 10px 0 30px;
    border-radius: 0 20px 20px 0;
}

.meaAccessibility_widget.meaAccessibility_widgetTopLeft .mea_fieldPopUp,
.meaAccessibility_widget.meaAccessibility_widgetBottomLeft .mea_fieldPopUp {
    padding-right: 13px;
    padding-left: 80px;
    border-radius: 0 27px 27px 27px;
    right: auto;
    left: -4px;
}

.meaAccessibility_widget.meaAccessibility_widgetTopLeft .meaAccessibility_fieldActive .meaAccessibility_fieldTooltip,
.meaAccessibility_widget.meaAccessibility_widgetBottomLeft .meaAccessibility_fieldActive .meaAccessibility_fieldTooltip {
    right: auto;
    left: -4px;
    border-radius: 20px 20px 20px 0;
}

.meaAccessibility_widget.meaAccessibility_widgetTopLeft,
.meaAccessibility_widget.meaAccessibility_widgetTopRight {
    top: 25px;
}

.meaAccessibility_widget.meaAccessibility_widgetTopLeft {
    left: 25px;
}

.meaAccessibility_widget.meaAccessibility_widgetTopRight {
    right: 25px;
}

.meaAccessibility_widget.meaAccessibility_widgetBottomRight,
.meaAccessibility_widget.meaAccessibility_widgetBottomLeft {
    bottom: 25px;
}

.meaAccessibility_widget.meaAccessibility_widgetBottomRight {
    right: 25px;
}

.meaAccessibility_widget.meaAccessibility_widgetBottomLeft {
    left: 25px;
}

.meaAccessibility_widget.meaAccessibility_widgetTopLeft .meaAccessibility_fieldTooltip,
.meaAccessibility_widget.meaAccessibility_widgetBottomLeft .meaAccessibility_fieldTooltip {
    right: auto;
    left: 50%;
    padding: 0 10px 0 30px;
    border-radius: 0 20px 20px 0;
}

.meaAccessibility_widget.meaAccessibility_widgetTopLeft .mea_fieldPopUp,
.meaAccessibility_widget.meaAccessibility_widgetBottomLeft .mea_fieldPopUp {
    padding-right: 13px;
    padding-left: 80px;
    border-radius: 0 27px 27px 27px;
    right: auto;
    left: -4px;
}

.meaAccessibility_widget.meaAccessibility_widgetTopLeft .meaAccessibility_fieldActive .meaAccessibility_fieldTooltip,
.meaAccessibility_widget.meaAccessibility_widgetBottomLeft .meaAccessibility_fieldActive .meaAccessibility_fieldTooltip {
    right: auto;
    left: -4px;
    border-radius: 20px 20px 20px 0;
}

.personabar-visible .meaAccessibility_widget.meaAccessibility_widgetTopLeft,
.personabar-visible .meaAccessibility_widget.meaAccessibility_widgetBottomLeft {
    left: 80px;
}

.personabar-visible .meaAccessibility_widget.meaAccessibility_widgetTopLeft,
.personabar-visible .meaAccessibility_widget.meaAccessibility_widgetBottomLeft {
    left: 80px;
}

.meaAccessibility_widget .meaAccessibility_widgetHeader {
    text-align: center;
    border: none;
    padding: 13px 0;
    margin: 0 13px;
    position: relative;
    background: none transparent;
}

@keyframes meaAccessibility_widget_fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.meaAccessibility_widget .meaAccessibility_properties {
    margin: 0;
    padding: 13px 13px 0;
}

.fade-in {
    animation: meaAccessibility_widget_fadein 0.1s cubic-bezier(0.7, 0, 0.84, 0) 0s 1 normal none;
}

.meaAccessibility_widget .meaAccessibility_properties>fieldset,
.meaAccessibility_widget .meaAccessibility_properties .meaAccessibility_fieldsetWrapper,
.meaAccessibility_widget .meaAccessibility_properties .meaAccessibility_fieldsetWrapper>fieldset {
    font-size: 0 !important;
    line-height: 0 !important;
}

.meaAccessibility_widget .meaAccessibility_properties>fieldset {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: none;
    display: flex;
    align-items: center;
}

.meaAccessibility_widget .meaAccessibility_properties>fieldset+fieldset {
    margin-top: 10px;
}

.meaAccessibility_widget .meaAccessibility_properties>fieldset>div {
    flex: 0 0 219px;
}

.meaAccessibility_widget .meaAccessibility_properties>fieldset::before {
    width: 35px;
    height: 35px;
    flex: 0 0 35px;
    border-radius: 20px;
    background-color: #aeaeae !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 20px 20px !important;
    content: "";
}

.meaAccessibility_widget .meaAccessibility_properties>fieldset.meaAccessibility_fieldsetSeparator>legend {
    margin-right: 45px;
}

.meaAccessibility_widget.meaAccessibility_widgetOpen {
    min-height: 59px;
    max-height: 702px;
    display: inline-table;
    width: 320px !important;
    z-index: 99999999999 !important;
    overflow-y: auto;
}

.meaAccessibility_widget.meaAccessibility_widgetOpen::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.meaAccessibility_widget.meaAccessibility_widgetOpen::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

.meaAccessibility_widget.meaAccessibility_widgetOpen::-webkit-scrollbar-track {
    background: transparent;
}

.meaAccessibility_widget.meaAccessibility_widgetOpen::-webkit-scrollbar {
    width: 5px;
}

.meaAccessibility_widget.meaAccessibility_widgetOpen .meaAccessibility_properties {
    -webkit-transform: scale(1);
    transform: scale(1);
    overflow: hidden;
}

.meaAccessibility_widget .meaAccessibility_propertiesToggle:focus-visible,
.meaAccessibility_widget .meaAccessibility_rbSlider input[type="radio"]:focus-visible+label,
.meaAccessibility_widget .meaAccessibility_switchBox input[type="checkbox"]:focus-visible+label,
.meaAccessibility_widget .meaAccessibility_rbSlider input[type="radio"]+label:focus-visible,
.meaAccessibility_widget .meaAccessibility_switchBox input[type="checkbox"]+label:focus-visible,
.meaAccessibility_widget .meaAccessibility_terms:focus {
    outline: 2px dashed red;
}

.meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_properties {
    display: flex;
    flex-flow: column;
}

@media screen and (max-height: 700px) and (min-width: 600px) {
    .meaAccessibility_widget .meaAccessibility_properties {
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
    .meaAccessibility_widget .meaAccessibility_properties>fieldset {
        float: right;
        width: calc(50% - 10px);
        margin: 0 0 10px 10px;
    }
    .meaAccessibility_widget .meaAccessibility_properties>fieldset+fieldset {
        margin-top: 5px;
    }
    .meaAccessibility_widget .meaAccessibility_properties>fieldset.meaAccessibility_fieldsetSeparator>legend {
        margin-right: 0;
    }
    .meaAccessibility_widget .meaAccessibility_properties>fieldset.meaAccessibility_fieldsetSeparator+.meaAccessibility_fieldsetSwitch {
        clear: right;
    }
    .meaAccessibility_widget.meaAccessibility_iconSizeXS .meaAccessibility_properties {
        max-height: calc(100% - 45px);
    }
    .meaAccessibility_widget.meaAccessibility_iconSizeS .meaAccessibility_properties {
        max-height: calc(100% - 60px);
    }
    .meaAccessibility_widget.meaAccessibility_iconSizeM .meaAccessibility_properties {
        max-height: calc(100% - 76px);
    }
    .meaAccessibility_widget.meaAccessibility_iconSizeL .meaAccessibility_properties {
        max-height: calc(100% - 86px);
    }
    .meaAccessibility_widget.meaAccessibility_iconSizeXL .meaAccessibility_properties {
        max-height: calc(100% - 96px);
    }
    .meaAccessibility_widget.meaAccessibility_widgetOpen {
        width: 600px !important;
        height: auto !important;
        top: auto;
        bottom: 0;
        margin: 0;
    }
}

@media (max-height: 700px),
(max-width: 600px) {
    .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_properties {
        flex-wrap: wrap;
        height: 100%;
        flex-flow: wrap;
    }
    .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_properties .meaAccessibility_fieldsetWrapper {
        flex: 0 0 33%;
        height: 70px;
        border-radius: 15px 0 0 0;
        padding-top: 30px;
    }
    .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_properties .meaAccessibility_compactButtonReset {
        flex: 0 0 100%;
        box-shadow: none;
        display: flex;
        justify-content: center;
        padding-top: 0;
        align-items: end;
    }
    .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_properties .meaAccessibility_compactButtonReset .meaAccessibility_widgetButton {
        width: calc(50% + 13px);
    }
    .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_properties .meaAccessibility_compactButtonReset .meaAccessibility_resetChanges {
        margin-left: 0;
        border-radius: 0 0 15px 0;
    }
    .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_properties .meaAccessibility_compactButtonReset .meaAccessibility_closeWidget {
        margin-top: 0;
        margin-right: 1px;
        border-radius: 0 0 0 15px;
    }
    .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_properties .meaAccessibility_compactButtonReset .meaAccessibility_fieldTooltip {
        position: static;
        padding-top: 0;
        padding-bottom: 0;
        background-color: transparent !important;
    }
    .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_fieldTooltip {
        opacity: 1;
        visibility: visible;
        border-radius: 15px 15px 0 0 !important;
        top: 0 !important;
        left: 2px !important;
        bottom: auto !important;
        right: 2px !important;
        width: auto !important;
        padding: 5px;
        line-height: 20px !important;
        text-align: center;
    }
    .meaAccessibility_widget.meaAccessibility_widgetCompact .mea_fieldButton {
        border-radius: 0 0 15px 15px;
        width: calc(100% - 4px);
        margin-left: 2px;
        margin-right: 2px;
    }
    .meaAccessibility_widget.meaAccessibility_widgetCompact .mea_fieldPopUp {
        top: 100%;
        bottom: auto;
    }
    .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_fieldActive .mea_fieldPopUp {
        right: 2px;
        padding: 15px;
        height: 70px;
        border-top-right-radius: 0;
        border-top-left-radius: 15px;
    }
    .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_fieldActive .mea_fieldButton {
        border-bottom-right-radius: 0;
    }
    .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_fieldsetWrapper:nth-child(3).meaAccessibility_fieldActive .mea_fieldButton {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 15px;
    }
    .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_fieldsetWrapper:nth-child(3).meaAccessibility_fieldActive .mea_fieldPopUp {
        left: 2px;
        right: auto;
        border-radius: 0 27px 27px 27px;
    }
    .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_fieldsetSwitch {
        margin-top: -30px;
    }
    .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_fieldsetSwitch .meaAccessibility_switchBox input[type="checkbox"]+label::before {
        height: auto;
        top: 30px;
        border-radius: 0 0 15px 15px;
    }
    .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_fieldsetSwitch .mea_fieldButton {
        height: 70px;
    }
    .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_fieldsetSwitch .meaAccessibility_fieldTooltip {
        left: 0 !important;
        right: 0 !important;
    }
    .meaAccessibility_widget.meaAccessibility_widgetCompact.meaAccessibility_widgetOpen {
        width: 600px !important;
    }
}

@media (max-width: 600px) {
    .meaAccessibility_widget.meaAccessibility_widgetOpen,
    .meaAccessibility_widget.meaAccessibility_widgetCompact.meaAccessibility_widgetOpen {
        width: 90% !important;
        right: 5%;
        left: 5%;
    }
    .meaAccessibility_widget .meaAccessibility_properties {
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
    .meaAccessibility_widget.meaAccessibility_iconSizeXS .meaAccessibility_properties {
        max-height: calc(100% - 45px);
    }
    .meaAccessibility_widget.meaAccessibility_iconSizeS .meaAccessibility_properties {
        max-height: calc(100% - 60px);
    }
    .meaAccessibility_widget.meaAccessibility_iconSizeM .meaAccessibility_properties {
        max-height: calc(100% - 76px);
    }
    .meaAccessibility_widget.meaAccessibility_iconSizeL .meaAccessibility_properties {
        max-height: calc(100% - 86px);
    }
    .meaAccessibility_widget.meaAccessibility_iconSizeXL .meaAccessibility_properties {
        max-height: calc(100% - 96px);
    }
    .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_properties .meaAccessibility_fieldsetWrapper {
        flex: 0 0 50%;
    }
    .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_properties .meaAccessibility_fieldsetWrapper:nth-child(2).meaAccessibility_fieldActive .mea_fieldButton {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 15px;
    }
    .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_properties .meaAccessibility_fieldsetWrapper:nth-child(2).meaAccessibility_fieldActive .mea_fieldPopUp {
        left: 2px;
        right: auto;
        border-radius: 0 27px 27px 27px;
    }
    .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_properties .meaAccessibility_fieldsetWrapper:nth-child(3).meaAccessibility_fieldActive .mea_fieldButton {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 0;
    }
    .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_properties .meaAccessibility_fieldsetWrapper:nth-child(3).meaAccessibility_fieldActive .mea_fieldPopUp {
        right: 2px;
        border-radius: 27px 0 27px 27px;
    }
}

@media (max-width: 360px) {
    .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_properties .meaAccessibility_fieldsetWrapper {
        flex: 0 0 100%;
    }
}

@media (max-width: 600px) {
    .personabar-visible .meaAccessibility_widget.meaAccessibility_widgetOpen,
    .personabar-visible .meaAccessibility_widget.meaAccessibility_widgetCompact.meaAccessibility_widgetOpen {
        right: 80px;
        width: calc(100% - 80px) !important;
    }
}

.meaAccessibility_widget .sr-only,
.meaAccessibility_widget .meaAccessibility_rbSlider input[type=radio],
.meaAccessibility_widget .meaAccessibility_switchBox input[type=checkbox] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.meaAccessibility_widget .meaAccessibility_rbSlider {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
}

.meaAccessibility_widget .meaAccessibility_rbSlider input[type=radio]+label {
    background-color: #aeaeae !important;
    flex-grow: 1;
    font-size: 13px !important;
    line-height: 20px !important;
    color: #fff !important;
    margin: 3px 0;
    padding: 0;
    text-align: center;
    margin-left: 2px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: normal !important;
    font-weight: normal !important;
    transition: background 200ms, padding 400ms, margin 400ms;
}

.meaAccessibility_widget .meaAccessibility_rbSlider input[type=radio]:checked+label {
    border-radius: 3px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 3px 0;
}

.meaAccessibility_widget .meaAccessibility_rbSlider input[type=radio]:first-child+label {
    margin-left: 0;
    border-radius: 10px 0 0 10px;
}

.meaAccessibility_widget .meaAccessibility_rbSlider label:last-child {
    border-radius: 0 10px 10px 0;
}

.meaAccessibility_widget .meaAccessibility_fieldsetSwitch {
    position: relative;
}

.meaAccessibility_widget .meaAccessibility_fieldsetSwitch .meaAccessibility_switchBox {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.meaAccessibility_widget .meaAccessibility_fieldsetSwitch .meaAccessibility_switchBox label {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px 0 0 41px;
}

.meaAccessibility_widget .meaAccessibility_fieldsetSwitch .meaAccessibility_switchBox label:before {
    top: 7px;
}

.meaAccessibility_widget .meaAccessibility_fieldsetSwitch .meaAccessibility_switchBox label::after {
    top: 5px;
}

.meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_fieldsetSwitch {
    border-radius: 20px;
}

.meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_fieldsetSwitch .meaAccessibility_switchBox {
    position: relative;
    border-radius: 20px;
}

.meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_fieldsetSwitch .meaAccessibility_switchBox input[type="checkbox"]+label {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border-radius: 20px;
}

.meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_fieldsetSwitch .meaAccessibility_switchBox input[type="checkbox"]+label .meaAccessibility_fieldTooltip {
    top: 0;
    bottom: 0;
}

.meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_fieldsetSwitch .meaAccessibility_switchBox input[type="checkbox"]+label::before {
    background-color: transparent !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none !important;
    z-index: 2;
    border-radius: 20px;
}

.meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_fieldsetSwitch .meaAccessibility_switchBox input[type="checkbox"]+label::after {
    display: none;
}

.meaAccessibility_widget .meaAccessibility_switchBox input[type=checkbox]+label::before,
.meaAccessibility_widget .meaAccessibility_switchBox input[type=checkbox]+label::after {
    display: inline-block;
    position: absolute;
    content: "";
    transition: all 300ms;
}

.meaAccessibility_widget .meaAccessibility_switchBox input[type=checkbox]+label::before {
    top: 8px;
    right: 0;
    width: 45px;
    height: 20px;
    border-radius: 10px;
    background-color: #ddd !important;
}

.meaAccessibility_widget .meaAccessibility_switchBox input[type=checkbox]+label::after {
    top: 5px;
    right: 19px;
    width: 26px;
    height: 26px;
    border: solid 2px #cacaca !important;
    border-radius: 50%;
    background-color: #FFF;
    opacity: 1 !important;
}

body.meaAccessibility_blackAndWhite *:not(.ripple-container, .meaAccessibility_label, .meaAccessibility_switchBox, .mea_fieldButton, .top-adhd-box, .bottom-adhd-box) {
    background: none #fff !important;
    color: #000 !important;
    border-color: #000 !important;
}

.meaAccessibility_widget .meaAccessibility_switchBox {
    position: relative;
}

.meaAccessibility_widget .meaAccessibility_switchBox input[type=checkbox]+label {
    cursor: pointer;
    display: block;
}

body.meaAccessibility_blackAndWhite .meaAccessibility_widget .meaAccessibility_switchBox input[type="checkbox"]+label::before {
    border: solid 2px #000 !important;
}

body.meaAccessibility_blackAndWhite .meaAccessibility_widget .meaAccessibility_switchBox input[type="checkbox"]+label::after,
body.meaAccessibility_blackAndWhite .meaAccessibility_widget .meaAccessibility_switchBox input[type="checkbox"]:checked+label::after {
    background-color: #fff !important;
    border-color: #000 !important;
}

.meaAccessibility_widget .meaAccessibility_widgetButton {
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 17px !important;
    line-height: 46px !important;
    letter-spacing: normal !important;
    margin: 0;
    padding: 0;
    width: calc(50%);
    height: 46px;
    border-radius: 0;
    cursor: pointer;
    color: #fff !important;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}

.meaAccessibility_widget .meaAccessibility_widgetButton::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    background: none transparent no-repeat center center !important;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.meaAccessibility_widget .meaAccessibility_widgetButton:focus-visible {
    border: 2px dashed red;
}

.meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_compactButtonReset .meaAccessibility_widgetButton {
    position: relative;
    z-index: 2;
    float: none;
    width: calc(100% + 26px);
    margin: 0 -13px;
}

.meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_compactButtonReset .meaAccessibility_widgetButton::before {
    margin-left: 0;
}

.meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_compactButtonReset .meaAccessibility_widgetButton .meaAccessibility_fieldTooltip {
    top: auto;
    left: 0;
    bottom: 100%;
    right: 0;
    border-radius: 15px 15px 0 0;
    width: auto;
    text-align: center;
    line-height: 1.5 !important;
    padding: 10px;
}

.meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_compactButtonReset .meaAccessibility_widgetButton:hover .meaAccessibility_fieldTooltip {
    opacity: 1;
    visibility: visible;
}

body.meaAccessibility_blackAndWhite .meaAccessibility_widget .meaAccessibility_fieldTooltip,
body.meaAccessibility_blackAndWhite .meaAccessibility_widget .meaAccessibility_widgetButton {
    color: #fff !important;
}

body.meaAccessibility_blackAndWhite .meaAccessibility_widget .meaAccessibility_widgetButton::before {
    filter: brightness(0) invert(1);
}

.meaAccessibility_widget .meaAccessibility_resetChanges {
    border-bottom-right-radius: 10px;
}

.meaAccessibility_widget .meaAccessibility_closeWidget {
    margin-left: -14px;
    padding-left: 12px;
    border-bottom-left-radius: 10px;
    border-right: 0.25px solid #fff;
}

.meaAccessibility_widget.meaAccessibility_widgetOpen .meaAccessibility_terms {
    visibility: visible;
}

.meaAccessibility_widget.meaAccessibility_showButtonTitle {
    width: 290px;
}

.meaAccessibility_widget.meaAccessibility_staticWidget {
    position: static;
}

.meaAccessibility_widget.meaAccessibility_widgetHidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    margin: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    will-change: transform, opacity;
}

.meaAccessibility_widget .meaAccessibility_terms {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #aeaeae !important;
    font-size: 0 !important;
    line-height: 26px !important;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -20px;
    visibility: hidden;
    letter-spacing: normal !important;
}

.meaAccessibility_widget .meaAccessibility_terms:link,
.meaAccessibility_widget .meaAccessibility_terms:active,
.meaAccessibility_widget .meaAccessibility_terms:visited {
    color: #fff;
}

.meaAccessibility_widget .meaAccessibility_terms:link::before,
.meaAccessibility_widget .meaAccessibility_terms:active::before,
.meaAccessibility_widget .meaAccessibility_terms:visited::before {
    color: inherit;
}

.meaAccessibility_widget .meaAccessibility_terms::before {
    content: "i";
    font-weight: bold;
    font-size: 24px !important;
}

.meaAccessibility_widget .meaAccessibility_fieldTooltip {
    position: absolute;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 50%;
    bottom: 0;
    padding: 0 10px 0 30px;
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 18px !important;
    line-height: 40px !important;
    color: #fff !important;
    background-color: #77FAC6 !important;
    border-radius: 0 20px 20px 0;
    margin: 0;
    transition: all 200ms;
    text-align: right;
    z-index: 1;
    width: 200px;
    max-width: none;
}

.meaAccessibility_widget .mea_fieldPopUp {
    position: absolute;
    top: -4px;
    left: -4px;
    background-color: #fff;
    padding: 13px;
    padding-left: 80px;
    height: calc(40px + 8px);
    border-radius: 0 27px 27px 27px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.16);
    width: 300px;
    z-index: 1;
}

.meaAccessibility_widget .mea_fieldButton {
    position: relative;
    z-index: 2;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    font-size: 0;
    background-color: #aeaeae !important;
    outline: none;
    border: none;
    margin: 0;
    cursor: pointer;
    transition: all 200ms;
}

.meaAccessibility_widget .mea_fieldButton:hover {
    background-color: #77FAC6 !important;
}

.meaAccessibility_widget .mea_fieldButton::before {
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: calc(40px - 15px) calc(40px - 15px) !important;
}

.meaAccessibility_widget .meaAccessibility_fieldActive {
    z-index: 3;
}

.meaAccessibility_widget .meaAccessibility_fieldActive .mea_fieldButton {
    background-color: #77FAC6 !important;
}

.meaAccessibility_widget .meaAccessibility_fieldActive [hidden] {
    display: flex !important;
}

.meaAccessibility_widget .meaAccessibility_fieldActive .meaAccessibility_fieldTooltip {
    top: auto;
    left: -4px;
    bottom: calc(100% + 4px);
    border-radius: 20px 20px 20px 0;
}

.meaAccessibility_widget .meaAccessibility_fieldActive .meaAccessibility_fieldTooltip,
.meaAccessibility_widget .meaAccessibility_fieldsetWrapper:hover .meaAccessibility_fieldTooltip {
    opacity: 1;
    visibility: visible;
}

.meaAccessibility_widget.meaAccessibility_widgetCompact {
    overflow: visible;
}

.meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_fieldsetWrapper {
    position: relative;
    text-align: center;
    width: 40px;
    margin: 4px auto;
    border-radius: 20px;
}

.meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_compactButtonReset {
    flex: 0 0 100%;
    margin-bottom: 0;
    width: 100%;
}

.meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_compactButtonReset .meaAccessibility_closeWidget {
    margin-top: 1px;
    border-radius: 0 0 15px 15px;
}

.meaAccessibility_widget.meaAccessibility_widgetCompact.meaAccessibility_widgetOpen {
    width: 136px !important;
}

body.meaAccessibility_fontSizeS {
    font-size: 0.8rem !important;
}

body.meaAccessibility_fontSizeS *,
body.meaAccessibility_fontSizeS div,
body.meaAccessibility_fontSizeS article,
body.meaAccessibility_fontSizeS p,
body.meaAccessibility_fontSizeS li,
body.meaAccessibility_fontSizeS span,
body.meaAccessibility_fontSizeS a,
body.meaAccessibility_fontSizeS a *,
body.meaAccessibility_fontSizeS .btn,
body.meaAccessibility_fontSizeS .btn *,
body.meaAccessibility_fontSizeS .responsAbilityMenu .raMenuWrapper .meamm_menuItem .meamm_itemContainer {
    font-size: 0.8rem !important;
}

body.meaAccessibility_fontSizeS h1,
body.meaAccessibility_fontSizeS .h1 {
    font-size: 2rem !important;
}

body.meaAccessibility_fontSizeS h2,
body.meaAccessibility_fontSizeS .h2 {
    font-size: 1.8rem !important;
}

body.meaAccessibility_fontSizeS h3,
body.meaAccessibility_fontSizeS .h3 {
    font-size: 1.5rem !important;
}

body.meaAccessibility_fontSizeS h4,
body.meaAccessibility_fontSizeS .h4 {
    font-size: 1.3rem !important;
}

body.meaAccessibility_fontSizeL {
    font-size: 1.5rem !important;
}

body.meaAccessibility_fontSizeL *,
body.meaAccessibility_fontSizeL div,
body.meaAccessibility_fontSizeL article,
body.meaAccessibility_fontSizeL p,
body.meaAccessibility_fontSizeL li,
body.meaAccessibility_fontSizeL span,
body.meaAccessibility_fontSizeL a,
body.meaAccessibility_fontSizeL a *,
body.meaAccessibility_fontSizeL .btn,
body.meaAccessibility_fontSizeL .btn *,
body.meaAccessibility_fontSizeL h5,
body.meaAccessibility_fontSizeL .h5,
body.meaAccessibility_fontSizeL h6,
body.meaAccessibility_fontSizeL .h6,
body.meaAccessibility_fontSizeL .responsAbilityMenu .raMenuWrapper .meamm_menuItem .meamm_itemContainer {
    font-size: 1.5rem !important;
}

body.meaAccessibility_fontSizeL h1,
body.meaAccessibility_fontSizeL .h1 {
    font-size: 3.5rem !important;
}

body.meaAccessibility_fontSizeL h2,
body.meaAccessibility_fontSizeL .h2 {
    font-size: 3rem !important;
}

body.meaAccessibility_fontSizeL h3,
body.meaAccessibility_fontSizeL .h3 {
    font-size: 2.8rem !important;
}

body.meaAccessibility_fontSizeL h4,
body.meaAccessibility_fontSizeL .h4 {
    font-size: 2.6rem !important;
}

body.meaAccessibility_fontSizeXL {
    font-size: 2rem !important;
}

body.meaAccessibility_fontSizeXL *,
body.meaAccessibility_fontSizeXL div,
body.meaAccessibility_fontSizeXL article,
body.meaAccessibility_fontSizeXL p,
body.meaAccessibility_fontSizeXL li,
body.meaAccessibility_fontSizeXL span,
body.meaAccessibility_fontSizeXL a,
body.meaAccessibility_fontSizeXL a *,
body.meaAccessibility_fontSizeXL .btn,
body.meaAccessibility_fontSizeXL .btn *,
body.meaAccessibility_fontSizeXL h5,
body.meaAccessibility_fontSizeXL .h5,
body.meaAccessibility_fontSizeXL h6,
body.meaAccessibility_fontSizeXL .h6,
body.meaAccessibility_fontSizeXL .responsAbilityMenu .raMenuWrapper .meamm_menuItem .meamm_itemContainer {
    font-size: 2rem !important;
}

body.meaAccessibility_fontSizeXL h1,
body.meaAccessibility_fontSizeXL .h1 {
    font-size: 3.5rem !important;
}

body.meaAccessibility_fontSizeXL h2,
body.meaAccessibility_fontSizeXL .h2 {
    font-size: 3rem !important;
}

body.meaAccessibility_fontSizeXL h3,
body.meaAccessibility_fontSizeXL .h3 {
    font-size: 2.8rem !important;
}

body.meaAccessibility_fontSizeXL h4,
body.meaAccessibility_fontSizeXL .h4 {
    font-size: 2.6rem !important;
}

body.meaAccessibility_fontSizeXXL {
    font-size: 2.5rem !important;
}

body.meaAccessibility_fontSizeXXL *,
body.meaAccessibility_fontSizeXXL div,
body.meaAccessibility_fontSizeXXL article,
body.meaAccessibility_fontSizeXXL p,
body.meaAccessibility_fontSizeXXL li,
body.meaAccessibility_fontSizeXXL span,
body.meaAccessibility_fontSizeXXL a,
body.meaAccessibility_fontSizeXXL a *,
body.meaAccessibility_fontSizeXXL .btn,
body.meaAccessibility_fontSizeXXL .btn *,
body.meaAccessibility_fontSizeXXL h5,
body.meaAccessibility_fontSizeXXL .h5,
body.meaAccessibility_fontSizeXXL h6,
body.meaAccessibility_fontSizeXXL .h6,
body.meaAccessibility_fontSizeXXL .responsAbilityMenu .raMenuWrapper .meamm_menuItem .meamm_itemContainer {
    font-size: 2.5rem !important;
}

body.meaAccessibility_fontSizeXXL h1,
body.meaAccessibility_fontSizeXXL .h1 {
    font-size: 3.5rem !important;
}

body.meaAccessibility_fontSizeXXL h2,
body.meaAccessibility_fontSizeXXL .h2 {
    font-size: 3rem !important;
}

body.meaAccessibility_fontSizeXXL h3,
body.meaAccessibility_fontSizeXXL .h3 {
    font-size: 2.8rem !important;
}

body.meaAccessibility_fontSizeXXL h4,
body.meaAccessibility_fontSizeXXL .h4 {
    font-size: 2.6rem !important;
}

body.meaAccessibility_aUnderlined a:link,
body.meaAccessibility_aUnderlined a:active,
body.meaAccessibility_aUnderlined a:visited,
body.meaAccessibility_aUnderlined a:hover,
body.meaAccessibility_aUnderlined .btn:link,
body.meaAccessibility_aUnderlined .btn:active,
body.meaAccessibility_aUnderlined .btn:visited,
body.meaAccessibility_aUnderlined .btn:hover {
    text-decoration: underline !important;
}

body.meaAccessibility_aHighlight a,
body.meaAccessibility_aHighlight .btn {
    display: inline-block;
}

body.meaAccessibility_aHighlight a:link,
body.meaAccessibility_aHighlight a:active,
body.meaAccessibility_aHighlight a:visited,
body.meaAccessibility_aHighlight a:hover,
body.meaAccessibility_aHighlight .btn:link,
body.meaAccessibility_aHighlight .btn:active,
body.meaAccessibility_aHighlight .btn:visited,
body.meaAccessibility_aHighlight .btn:hover {
    background-color: #858585 !important;
    color: #fff !important;
    border-radius: 3px !important;
    margin: 0.5px !important;
}

body.meaAccessibility_grayscaleImg img,
body.meaAccessibility_grayscaleImg img *,
body.meaAccessibility_grayscaleImg .mea_primaryOverlay::before,
body.meaAccessibility_grayscaleImg .section-image,
body.meaAccessibility_grayscaleImg .card-background,
body.meaAccessibility_grayscaleImg .header-filter::before,
body.meaAccessibility_grayscaleImg .header-filter::after {
    -webkit-filter: grayscale(100%) !important;
    filter: grayscale(100%) !important;
}

body.meaAccessibility_letterSpacing1 {
    letter-spacing: 0.2rem !important;
}

body.meaAccessibility_letterSpacing1 * {
    letter-spacing: 0.2rem !important;
}

body.meaAccessibility_letterSpacing2 {
    letter-spacing: 0.4rem !important;
}

body.meaAccessibility_letterSpacing2 * {
    letter-spacing: 0.4rem !important;
}

body.meaAccessibility_lineHeight1 {
    line-height: 1.8 !important;
}

body.meaAccessibility_lineHeight1 * {
    line-height: 2.8 !important;
}

body.meaAccessibility_lineHeight2 {
    line-height: 2 !important;
}

body.meaAccessibility_lineHeight2 * {
    line-height: 3 !important;
}

body.meaAccessibility_blackAndWhite {
    background: none #fff !important;
    color: #000 !important;
}

body.meaAccessibility_blackAndWhite *::before,
body.meaAccessibility_blackAndWhite *::after {
    color: #000 !important;
    background: none transparent !important;
}

body.meaAccessibility_blackAndWhite img,
body.meaAccessibility_blackAndWhite img *,
body.meaAccessibility_blackAndWhite .mea_primaryOverlay::before,
body.meaAccessibility_blackAndWhite .section-image,
body.meaAccessibility_blackAndWhite .card-background {
    -webkit-filter: grayscale(100%) !important;
    filter: grayscale(100%) !important;
}

body.meaAccessibility_blackAndWhite .meaAccessibility_widget .meaAccessibility_terms::before {
    color: #fff !important;
}

html.meaAccessibility_grayscale body>* {
    -webkit-filter: grayscale(1) !important;
    filter: grayscale(1) !important;
}

html.meaAccessibility_grayscale.meaAccessibility_contrast body>* {
    -webkit-filter: grayscale(1) contrast(1.3) !important;
    filter: grayscale(1) contrast(1.3) !important;
}

html.meaAccessibility_grayscale.meaAccessibility_contrast.meaAccessibility_negativ body>* {
    -webkit-filter: grayscale(1) contrast(1.3) invert(1) !important;
    filter: grayscale(1) contrast(1.3) invert(1) !important;
}

html.meaAccessibility_contrast body>* {
    -webkit-filter: contrast(1.3) !important;
    filter: contrast(1.3) !important;
}

html.meaAccessibility_contrast.meaAccessibility_negativ body>* {
    -webkit-filter: contrast(1.3) invert(1) !important;
    filter: contrast(1.3) invert(1) !important;
}

html.meaAccessibility_negativ body>* {
    -webkit-filter: invert(1) !important;
    filter: invert(1) !important;
}

html.meaAccessibility_negativ body {
    background: #000 !important;
}

html.meaAccessibility_negativ.meaAccessibility_grayscale body>* {
    -webkit-filter: grayscale(1) invert(1) !important;
    filter: grayscale(1) invert(1) !important;
}

@media screen and (max-width: 992px) and (max-height: 600px) {
    .meaAccessibility_widget.meaAccessibility_widgetOpen {
        max-height: none !important;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 992px) and (max-height: 380px) {
    .meaAccessibility_widget.meaAccessibility_widgetOpen {
        top: 0;
        height: 100% !important;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1024px) and (max-height: 768px) {
    .meaAccessibility_widget.meaAccessibility_widgetOpen {
        top: 10px;
        bottom: 10px;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-height: 480px) and (min-width: 600px) {
    .meaAccessibility_widget.meaAccessibility_widgetOpen,
    .meaAccessibility_widget.meaAccessibility_widgetCompact.meaAccessibility_widgetOpen {
        width: 600px !important;
        height: 100% !important;
        max-height: 100% !important;
        top: 0;
        bottom: 0;
        margin: 0;
    }
    .meaAccessibility_widget.meaAccessibility_widgetOpen {
        overflow: hidden;
    }
}

.top-adhd-box {
    position: fixed !important;
    z-index: 999 !important;
    width: 100% !important;
    background: rgba(0, 0, 0, 0.8) !important;
    top: 0px;
    height: 40vh;
}

.top-inner-adhd-box {
    width: 100% !important;
    height: 8px !important;
    position: absolute !important;
    background: #00BCC6;
    bottom: 0px;
}

.bottom-adhd-box {
    position: fixed !important;
    z-index: 999 !important;
    width: 100% !important;
    background: rgba(0, 0, 0, 0.8) !important;
    bottom: 0px;
    height: 40vh;
}

.bottom-inner-adhd-box {
    width: 100% !important;
    height: 8px !important;
    position: absolute !important;
    background: #00BCC6;
    top: 0px;
}

.meaAccessibility_widget .meaAccessibility_resetChanges::before {
    background-image: url("img/reset.svg") !important;
    background-size: 25px !important;
}

.meaAccessibility_widget .meaAccessibility_closeWidget::before {
    background-image: url("img/close.svg") !important;
    background-size: 20px !important;
}

.meaAccessibility_modal_overlay {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    border-radius: 10px;
    left: 0;
    animation: fadeInOut 0.9s ease-in-out;
    min-height: auto !important;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.meaAccessibility_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 80%;
    max-width: 600px;
    background-color: #fefefe;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

.meaAccessibility_modal-content {
    z-index: 1;
}

.meaAccessibility_close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #383838 !important;
}

.meaAccessibility_modal-content h6 {
    font-weight: bold !important;
    color: #000 !important;
}

.meaAccessibility_modal-content p {
    max-height: 250px;
    overflow: auto !important;
    padding: 0 15px 0 15px;
    color: #383838 !important;
}

.meaAccessibility_modal-content p::-webkit-scrollbar {
    width: 5px;
    background-color: black;
    border-radius: 10px;
}

.meaAccessibility_modal-content p::-webkit-scrollbar-thumb {
    background-color: silver;
    border-radius: 10px;
}

.meaAccessibility_GDPR_btn {
    height: 40px !important;
    display: contents;
}

@keyframes rotateDiv {
    from {
        transform: rotateZ(20deg);
    }
    to {
        transform: rotateZ(5deg);
    }
}

.meaAccessibility_GDPR_btn img {
    width: 40px !important;
    height: 40px !important;
    transition: transform 0.3s ease-in-out;
    transform: rotateZ(20deg);
    max-width: 40px !important;
}

.meaAccessibility_GDPR_link {
    height: 40px !important;
    max-width: 40px !important;
    max-height: 40px !important;
    display: block;
}

.meaAccessibility_GDPR_btn img:hover {
    animation-name: rotateDiv;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.meaAccessibility_GDPR_btn.active img {
    transform: rotateZ(5deg);
}

.meaAccessibility_GDPR_btn.active {
    background-color: #ddd;
}

@media (min-width:641px) {
    .meaAccessibility_modal_overlay {
        min-height: 100vh;
    }
}

.meaAccessibility_dragable-box {
    cursor: all-scroll;
}
