[hidden] {
    display: none !important;
}

.meaAccessibility_widget {
    direction: rtl;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: all 300ms;
    position: fixed;
    z-index: 9999;
    overflow: hidden;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), margin 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), margin 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.meaAccessibility_mainbg-admin {
    background-color: #F8F3EE;
}

.meaAccessibility_widget .meaAccessibility_propertiesToggle {
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1em !important;
    line-height: 0 !important;
    letter-spacing: normal !important;
    margin: 0;
    padding: 0;
    border-radius: 25px;
    background: transparent;
    cursor: pointer;
    color: #373737;
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.meaAccessibility_widget .meaAccessibility_propertiesToggle>span {
    text-align: center !important;
    padding-right: 15px;
    letter-spacing: inherit !important;
    font-size: inherit !important;
    font-size: inherit !important;
    letter-spacing: inherit !important;
}

.meaAccessibility_widget .meaAccessibility_propertiesToggle::before {
    content: "";
    background: url("img/accessibility.svg") #3abddd no-repeat center center !important;
    border-radius: 25px;
}

.meaAccessibility_widget.meaAccessibility_showButtonTitle .meaAccessibility_propertiesToggle {
    width: 264px;
    border-radius: 0;
    margin-left: 0;
}

.meaAccessibility_widget.meaAccessibility_showButtonTitle .meaAccessibility_propertiesToggle::before {
    margin-right: 15px;
}

.meaAccessibility_widget.meaAccessibility_showButtonTitle .meaAccessibility_propertiesToggle>span {
    display: flex;
    justify-content: center;
    flex: 0 0 200px;
    font-size: 22px !important;
    line-height: 1.2 !important;
}

body.meaAccessibility_fontSizeS .meaAccessibility_widget .meaAccessibility_properties .meaAccessibility_fontSizeField::before,
body.meaAccessibility_fontSizeL .meaAccessibility_widget .meaAccessibility_properties .meaAccessibility_fontSizeField::before,
body.meaAccessibility_fontSizeXL .meaAccessibility_widget .meaAccessibility_properties .meaAccessibility_fontSizeField::before,
body.meaAccessibility_fontSizeXXL .meaAccessibility_widget .meaAccessibility_properties .meaAccessibility_fontSizeField::before {
    background-color: #3abddd !important;
}

body.meaAccessibility_dyslexic .meaAccessibility_widget .meaAccessibility_properties .meaAccessibility_dyslexicField::before {
    background-color: #3abddd !important;
}

body.meaAccessibility_aUnderlined .meaAccessibility_widget .meaAccessibility_properties .meaAccessibility_aUnderlinedField::before {
    background-color: #3abddd !important;
}

body.meaAccessibility_aHighlight .meaAccessibility_widget .meaAccessibility_properties .meaAccessibility_aHighlightField::before {
    background-color: #3abddd !important;
}

body.meaAccessibility_grayscaleImg .meaAccessibility_widget .meaAccessibility_properties .meaAccessibility_grayscaleImgField::before {
    background-color: #3abddd !important;
}

body.meaAccessibility_letterSpacing1 .meaAccessibility_widget .meaAccessibility_properties .meaAccessibility_letterSpacingField::before,
body.meaAccessibility_letterSpacing2 .meaAccessibility_widget .meaAccessibility_properties .meaAccessibility_letterSpacingField::before {
    background-color: #3abddd !important;
}

body.meaAccessibility_lineHeight1 .meaAccessibility_widget .meaAccessibility_properties .meaAccessibility_lineHeightField::before,
body.meaAccessibility_lineHeight2 .meaAccessibility_widget .meaAccessibility_properties .meaAccessibility_lineHeightField::before {
    background-color: #3abddd !important;
}

body.meaAccessibility_blackAndWhite .meaAccessibility_widget .meaAccessibility_properties>fieldset::before,
body.meaAccessibility_blackAndWhite .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_fieldsetSwitch .meaAccessibility_switchBox input[type="checkbox"]:checked+label::before,
body.meaAccessibility_blackAndWhite .meaAccessibility_widget .mea_fieldButton:hover,
body.meaAccessibility_blackAndWhite .meaAccessibility_widget .meaAccessibility_fieldActive .mea_fieldButton,
body.meaAccessibility_blackAndWhite .meaAccessibility_widget .meaAccessibility_rbSlider input[type="radio"]+label,
body.meaAccessibility_blackAndWhite .meaAccessibility_widget .meaAccessibility_rbSlider input[type="radio"]:checked+label,
body.meaAccessibility_blackAndWhite .meaAccessibility_widget .meaAccessibility_switchBox input[type="checkbox"]+label::before,
body.meaAccessibility_blackAndWhite .meaAccessibility_widget .meaAccessibility_switchBox input[type="checkbox"]:checked+label::before,
body.meaAccessibility_blackAndWhite .meaAccessibility_widget .meaAccessibility_widgetButton,
body.meaAccessibility_blackAndWhite .meaAccessibility_widget .meaAccessibility_terms,
body.meaAccessibility_blackAndWhite .meaAccessibility_widget .meaAccessibility_propertiesToggle::before,
body.meaAccessibility_blackAndWhite .meaAccessibility_widget .meaAccessibility_fieldTooltip {
    background-color: #000 !important;
}

html.meaAccessibility_grayscale .meaAccessibility_widget .meaAccessibility_properties .meaAccessibility_grayscaleField::before,
html.meaAccessibility_grayscale .meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_fieldsetSwitch.meaAccessibility_grayscaleField .meaAccessibility_switchBox input[type="checkbox"]:checked+label::before {
    background-color: #000 !important;
}

html.meaAccessibility_contrast .meaAccessibility_widget .meaAccessibility_properties .meaAccessibility_contrastField::before {
    background-color: #3abddd !important;
}

html.meaAccessibility_negativ .meaAccessibility_widget .meaAccessibility_properties .meaAccessibility_negativField::before {
    background-color: #3abddd !important;
}

.meaAccessibility_widget .meaAccessibility_rbSlider input[type=radio]+label:hover {
    background-color: #3abddd !important;
}

.meaAccessibility_widget .meaAccessibility_rbSlider input[type=radio]:checked+label {
    background-color: #3abddd !important;
}

.meaAccessibility_widget.meaAccessibility_widgetCompact .meaAccessibility_fieldsetSwitch .meaAccessibility_switchBox input[type="checkbox"]:checked+label::before {
    background-color: #3abddd !important;
}

.meaAccessibility_widget .meaAccessibility_switchBox input[type=checkbox]+label:hover::after {
    border-color: #3abddd !important;
}

.meaAccessibility_widget .meaAccessibility_switchBox input[type=checkbox]:checked+label::after {
    left: 0;
    border-color: #3abddd !important;
}

.meaAccessibility_widget .meaAccessibility_widgetButton {
    background: none #3abddd;
    margin-top: 10px;
}

.meaAccessibility_widget .meaAccessibility_widgetButton:hover {
    background-color: #207f97;
}

.meaAccessibility_widget .meaAccessibility_switchBox input[type=checkbox]:checked+label::before {
    background-color: #207f97 !important;
}

.meaAccessibility_widget .meaAccessibility_fontSizeField::before {
    background-image: url("img/font-size.svg") !important;
    margin-left: 3px;
}

.meaAccessibility_widget .meaAccessibility_lineHeightField::before {
    background-image: url("img/line-height.svg") !important;
    margin-left: 3px;
}

.meaAccessibility_widget .meaAccessibility_letterSpacingField::before {
    background-image: url("img/letter-spacing.svg") !important;
    margin-left: 3px;
}

.meaAccessibility_widget .meaAccessibility_dyslexicField::before {
    background-image: url("img/dyslexic-font.svg") !important;
}

.meaAccessibility_widget .meaAccessibility_grayscaleField::before {
    background-image: url("img/grayscale.svg") !important;
}

.meaAccessibility_widget .meaAccessibility_contrastField::before {
    background-image: url("img/contrast.svg") !important;
}

.meaAccessibility_widget .meaAccessibility_negativField::before {
    background-image: url("img/negative.svg") !important;
}

.meaAccessibility_widget .meaAccessibility_aUnderlinedField::before {
    background-image: url("img/underlined-links.svg") !important;
}

.meaAccessibility_widget .meaAccessibility_aHighlightField::before {
    background-image: url("img/highlight-links.svg") !important;
}

.meaAccessibility_widget .meaAccessibility_grayscaleImgField::before {
    background-image: url("img/grayscale-images.svg") !important;
}

.meaAccessibility_widget .meaAccessibility_blackAndWhiteField::before {
    background-image: url("img/black-and-white.svg") !important;
}

.meaAccessibility_fontFamily {
    margin-right: 5px;
}

.meaAccessibility_widget .meaAccessibility_properties>fieldset>legend,
.meaAccessibility_widget .meaAccessibility_properties>fieldset .meaAccessibility_label {
    color: #373737;
    font-style: normal;
    font-weight: normal;
    font-size: 13px !important;
    line-height: 1.2 !important;
    padding: 0 0 5px 0;
    margin: 0;
    display: inline-block;
    letter-spacing: normal !important;
}

.meaAccessibility_widget.meaAccessibility_widgetOpen .meaAccessibility_widgetHeader {
    display: flex;
    align-items: center;
}

.meaAccessibility_accessibility-text {
    width: 100%;
    text-align: right;
    padding-right: 10px;
}

.meaAccessibility_copyright-text {
    margin-bottom: -13px;
    padding-right: 5px;
}

.meaAccessibility_copyright-text-color {
    color: #000;
}

.meaAccessibility_enable_border {
    border-bottom: 1px #000 solid;
    margin-bottom: -1px !important;
}

.meaAccessibility_properties {
    max-height: 600px;
    overflow: auto;
}

.meaAccessibility_properties::-webkit-scrollbar {
    width: 5px;
    background-color: black;
}

.meaAccessibility_properties::-webkit-scrollbar-thumb {
    background-color: silver;
}